.boxChart{
    width: 88%;
    height: 85vw;
    background: #414568;
    box-shadow: -4px -4px 8px rgb(255 255 255 / 10%), 4px 4px 8px 4px rgb(0 0 0 / 25%);
    border-radius: 16px;
    margin: auto;
    margin-top: 10%;
}

